<!--TEMP-->
  <div id="pattern" class="pattern">
    <div class="col-group">
    	<div class = "note">
			<h1>L1
			</h1>
		</div>
		
		<div class = "note">
			<h1>L2
			</h1>
		</div>
		<div class = "note">
			<h1>L3
			</h1>
		</div>
		<div class = "note">
			<h1>=)
			</h1>
		</div>
		<div class = "note">
			<h1>:3
			</h1>
		</div>
	</div>
</div>