<!--TEMP-->

<!-- <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<style>
body {
    font-family: 'Lato';font-size: 40px;
}
</style>

  <li>
    <%= link_to('Login', new_user_session_path)  %>  
  </li> -->
<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<h1 id="logo">Nokia</h1>
	</header>
	<main>
		<section id="branch">
			<h2>Branch #1</h2>
			<div class="card">
				<img src="OK.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="MAYBE.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="ERROR.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="OK.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="OK.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
		</section>
		<section id="branch">
			<h2>Branch #1</h2>
			<div class="card">
				<img src="OK.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="MAYBE.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="ERROR.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="OK.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="OK.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
		</section>
		<section id="branch">
			<h2>Branch #1</h2>
			<div class="card">
				<img src="OK.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="MAYBE.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="ERROR.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="OK.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
			<div class="card">
				<img src="OK.png" class="card-img">
				<div class="card-content">
					<h4 class="card-header">Build #1</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p>...</p>
				</div>
			</div>
		</section>
	</main>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	  <script src="scroll.js"></script>
</body>
</html>