<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport\" content="width=device-width, initial-scale=1">
<title>Log-in to CRS</title>
<link rel="stylesheet" href="../htdocs/styles/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../htdocs/styles/css/bootstrap.min.css">
<link rel="stylesheet" href="../htdocs/styles/css/style.css">
<link rel="stylesheet" href="../htdocs/styles/css/font.css">
<link rel="shortcut icon" href="../htdocs/styles/images/Unibersidad_ng_Pilipinas.png">
<script src="../htdocs/styles/js/jquery.js"></script>
<script src="../htdocs/styles/js/bootstrap.js"></script>
<style>
html { 
    background: url('../htdocs/styles/images/img1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
</head>
<body>
<div class="wrapper">
<form class="form-signin" action="/cgi-bin/login.cgi" method="POST"> 
<img src="../htdocs/styles/images/Unibersidad_ng_Pilipinas.png" style="float:left;top:25%left:15%">
<h2 class="form-signin-heading">Please login</h2>
<input type="text" class="form-control" name="-user" placeholder="Username" required="" autofocus="" />
<input type="password" class="form-control" name="-pass" placeholder="Password" required=""/>   
<button class="btn btn-large btn-primary btn-block" type="submit" name="-button">Sign in</button>
</div>
</form>
</div>
</body>
</html>
<h1>Pages#home</h1>
<p>Hello World!</p>