<<<<<<< HEAD:app/assets/stylesheets/custom.css
@import url('https://fonts.google.com/specimen/Lato?selection.family=Lato');

.jumbotron{
  font-family: 'Lato', Lato;
  background-image: url(/admin_background.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100%;
  height: 80%;
  font-size: 150%;
}

header{
  padding: 2%;
  background-color: white;
  text-align: left;
  height: 20%;
}

.logo{
  width:30%;
=======
body{
    background: #EEEEEE;
>>>>>>> 50f7a4246d11cdcd950e7db0d9686870f761e3a6:app/assets/stylesheets/custom.css.scss
}

/*.yellow-note {
	height: auto;
  width: 20%;
	background: url("y-note.png");
	background-repeat: no-repeat, no-repeat, no-repeat;
}
<<<<<<< HEAD:app/assets/stylesheets/custom.css

.login{
  padding: 1%;
  width: 40%;
  text-align: center;
  margin: auto;
  background-color: rgba(68, 108, 179, 0.7);
  border-radius: 25px;
}

.inner{
  font-size: 70%;
  text-align: left;
  margin: auto;
  width: 80%;
  color: white;
}

#user_email, #user_password, #user_password_confirmation{
  width: 100%;
  color: black;
  font-size: 110%;
}

.actions{
  color: black;
}

label{
  font-size: 130%;
=======
.red-note {
  height: 290px;
  width: 300px;
  background: asset-data-url("red.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
}
.blue-note {
  height: 290px;
  width: 300px;
  background: asset-data-url("blue.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
}*/
.col{
  width: 20%;
  float: left;
  border: 3px solid #000;
}
div img{
  width: 100%;
  height: auto;
  border: 3px solid #fff;
>>>>>>> 50f7a4246d11cdcd950e7db0d9686870f761e3a6:app/assets/stylesheets/custom.css.scss
}

.col-group {
  overflow: hidden;
}
.col-group > div {
  padding: 1em;
}

@media screen and (min-width: 44em) {
  .col-group > div {
    float: left;
    width: 50%;
  }
  .col-group > div:nth-child(odd) {
    clear: left;
  }
}

@media screen and (min-width: 50em) {
  .col-group > div {
    float: left;
    width: 33.3333333%;
  }
  .col-group > div:nth-child(3n+1) {
    clear: left;
  }
  .col-group > div:nth-child(odd) {
    clear: none;
  }
}

@media screen and (min-width: 70em) {
  .col-group > div {
    width: 20%;
  }
  .col-group > div:nth-child(odd), .col-group > div:nth-child(3n+1) {
    clear: none;
  }
}

.boxy{

margin-left: 20px;
margin-right: 20px;
}