body{
    background: #EEEEEE;
}

/*.yellow-note {
	height: auto;
  width: 20%;
	background: url("y-note.png");
	background-repeat: no-repeat, no-repeat, no-repeat;
}
.red-note {
  height: 290px;
  width: 300px;
  background: asset-data-url("red.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
}
.blue-note {
  height: 290px;
  width: 300px;
  background: asset-data-url("blue.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
}*/
.col{
  width: 20%;
  float: left;
  border: 3px solid #000;
}
div img{
  width: 100%;
  height: auto;
  border: 3px solid #fff;
}

.col-group {
  overflow: hidden;
}
.col-group > div {
  padding: 1em;
}

@media screen and (min-width: 44em) {
  .col-group > div {
    float: left;
    width: 50%;
  }
  .col-group > div:nth-child(odd) {
    clear: left;
  }
}

@media screen and (min-width: 50em) {
  .col-group > div {
    float: left;
    width: 33.3333333%;
  }
  .col-group > div:nth-child(3n+1) {
    clear: left;
  }
  .col-group > div:nth-child(odd) {
    clear: none;
  }
}

@media screen and (min-width: 70em) {
  .col-group > div {
    width: 20%;
  }
  .col-group > div:nth-child(odd), .col-group > div:nth-child(3n+1) {
    clear: none;
  }
}

.boxy{

margin-left: 20px;
margin-right: 20px;
}